.search {
  border: 0;
  outline: none;
  box-shadow: none;
  
  &::placeholder {
    color: black;
  }
}

.grid-image-inner {
  width: 100%;
  transition: width .4s, z-index .4s;
}

.grid-image-inner.expanded {
  width: calc(200% + 4px);
  // z-index: 10;
}

.top-left {
  top: 0px;
  left: 0px;
}

.top-right {
  top: 0px;
  right: 0px;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}